
/* <- Google Fonts -> */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Titillium+Web&display=swap');


/* <- Custom CSS -> */
#root,html,body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

h1{
    margin-bottom: 0%;
}
h5{
    margin-top: 0%;
}

.app{
    background: url('./img/bg-img-4.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-card{
    background-color: whitesmoke;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 2%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin: 100px auto;
}

.heading{
    font-family: 'Titillium Web', sans-serif;
    margin: 10px 0px;
    align-items: center;
    height: 580px;
}